<!-- <div class="example-container">
    <h2>A faire</h2>
  
    <div
      cdkDropList
      [cdkDropListData]="tachesNonRealisees"
      class="example-list"
      (cdkDropListDropped)="onTaskDropped($event)">
      <div class="example-box" *ngFor="let tache of tachesNonRealisees" cdkDrag>{{tache.title}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Fait</h2>
  
    <div
      cdkDropList
      [cdkDropListData]="tachesRealisees"
      class="example-list"
      (cdkDropListDropped)="onTaskDropped($event)">
      <div class="example-box" *ngFor="let tache of tachesRealisees" cdkDrag>{{tache.title}}</div>
    </div>
  </div> -->

  <!-- <h2>Tâches non réalisées :</h2>
<div cdkDropList       #doneList="cdkDropList" [cdkDropListData]="tachesNonRealisees"       [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onTaskDropped($event)">
  <div class="task" *ngFor="let tache of tachesNonRealisees" cdkDrag>
    {{ tache.title }}
  </div>
</div>

<h2>Tâches réalisées :</h2>
<div cdkDropList   #todoList="cdkDropList" [cdkDropListData]="tachesRealisees" (cdkDropListDropped)="onTaskDropped($event)">
  <div class="task" *ngFor="let tache of tachesRealisees" cdkDrag>
    {{ tache.title }}
  </div>
</div> -->

  
  